## D. Increase the number of hidden layers (5 marks)

Repeat part B but use a neural network with the following instead:

- Three hidden layers, each of 10 nodes and ReLU activation function.

How does the mean of the mean squared errors compare to that from Step B?

## Download and Clean Dataset

Let's start by importing the <em>pandas</em> and the Numpy libraries.

In [1]:
import pandas as pd
import numpy as np

We will be playing around with the same dataset that we used in the videos.

<strong>The dataset is about the compressive strength of different samples of concrete based on the volumes of the different ingredients that were used to make them. Ingredients include:</strong>

<strong>1. Cement</strong>

<strong>2. Blast Furnace Slag</strong>

<strong>3. Fly Ash</strong>

<strong>4. Water</strong>

<strong>5. Superplasticizer</strong>

<strong>6. Coarse Aggregate</strong>

<strong>7. Fine Aggregate</strong>

Let's download the data and read it into a <em>pandas</em> dataframe.

In [2]:
concrete_data = pd.read_csv('https://cocl.us/concrete_data')
concrete_data.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age,Strength
0,540.0,0.0,0.0,162.0,2.5,1040.0,676.0,28,79.99
1,540.0,0.0,0.0,162.0,2.5,1055.0,676.0,28,61.89
2,332.5,142.5,0.0,228.0,0.0,932.0,594.0,270,40.27
3,332.5,142.5,0.0,228.0,0.0,932.0,594.0,365,41.05
4,198.6,132.4,0.0,192.0,0.0,978.4,825.5,360,44.30

So the first concrete sample has 540 cubic meter of cement, 0 cubic meter of blast furnace slag, 0 cubic meter of fly ash, 162 cubic meter of water, 2.5 cubic meter of superplaticizer, 1040 cubic meter of coarse aggregate, 676 cubic meter of fine aggregate. Such a concrete mix which is 28 days old, has a compressive strength of 79.99 MPa.

#### Let's check how many data points we have.

In [3]:
concrete_data.shape

(1030, 9)

So, there are approximately 1000 samples to train our model on. Because of the few samples, we have to be careful not to overfit the training data.

Let's check the dataset for any missing values.

In [4]:
concrete_data.describe()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age,Strength
count,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000
mean,281.167864,73.895825,54.188350,181.567282,6.204660,972.918932,773.580485,45.662136,35.817961
std,104.506364,86.279342,63.997004,21.354219,5.973841,77.753954,80.175980,63.169912,16.705742
min,102.000000,0.000000,0.000000,121.800000,0.000000,801.000000,594.000000,1.000000,2.330000
25%,192.375000,0.000000,0.000000,164.900000,0.000000,932.000000,730.950000,7.000000,23.710000
50%,272.900000,22.000000,0.000000,185.000000,6.400000,968.000000,779.500000,28.000000,34.445000
75%,350.000000,142.950000,118.300000,192.000000,10.200000,1029.400000,824.000000,56.000000,46.135000
max,540.000000,359.400000,200.100000,247.000000,32.200000,1145.000000,992.600000,365.000000,82.600000

In [5]:
concrete_data.isnull().sum()

Cement                0
Blast Furnace Slag    0
Fly Ash               0
Water                 0
Superplasticizer      0
Coarse Aggregate      0
Fine Aggregate        0
Age                   0
Strength              0
dtype: int64

The data looks very clean and is ready to be used to build our model.

#### Split data into predictors and target

The target variable in this problem is the concrete sample strength. Therefore, our predictors will be all the other columns.

In [6]:
concrete_data_columns = concrete_data.columns

predictors = concrete_data[concrete_data_columns[concrete_data_columns != 'Strength']] # all columns except Strength
target = concrete_data['Strength'] # Strength column

<a id="item2"></a>

Let's do a quick sanity check of the predictors and the target dataframes.

In [7]:
predictors.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age
0,540.0,0.0,0.0,162.0,2.5,1040.0,676.0,28
1,540.0,0.0,0.0,162.0,2.5,1055.0,676.0,28
2,332.5,142.5,0.0,228.0,0.0,932.0,594.0,270
3,332.5,142.5,0.0,228.0,0.0,932.0,594.0,365
4,198.6,132.4,0.0,192.0,0.0,978.4,825.5,360

In [8]:
target.head()

0    79.99
1    61.89
2    40.27
3    41.05
4    44.30
Name: Strength, dtype: float64

Finally, the last step is to normalize the data by substracting the mean and dividing by the standard deviation.

In [9]:
predictors_norm = (predictors - predictors.mean()) / predictors.std()
predictors_norm.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age
0,2.476712,-0.856472,-0.846733,-0.916319,-0.620147,0.862735,-1.217079,-0.279597
1,2.476712,-0.856472,-0.846733,-0.916319,-0.620147,1.055651,-1.217079,-0.279597
2,0.491187,0.795140,-0.846733,2.174405,-1.038638,-0.526262,-2.239829,3.551340
3,0.491187,0.795140,-0.846733,2.174405,-1.038638,-0.526262,-2.239829,5.055221
4,-0.790075,0.678079,-0.846733,0.488555,-1.038638,0.070492,0.647569,4.976069

Let's save the number of predictors to *n_cols* since we will need this number when building our network.

In [10]:
n_cols = predictors_norm.shape[1] # number of predictors
n_cols

8

## Import Keras

#### Let's go ahead and import the Keras library

In [11]:
import keras

Using TensorFlow backend.
C:\Users\Home\anaconda3\lib\site-packages\tensorflow\python\framework\dtypes.py:516: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint8 = np.dtype([("qint8", np.int8, 1)])
C:\Users\Home\anaconda3\lib\site-packages\tensorflow\python\framework\dtypes.py:517: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_quint8 = np.dtype([("quint8", np.uint8, 1)])
C:\Users\Home\anaconda3\lib\site-packages\tensorflow\python\framework\dtypes.py:518: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint16 = np.dtype([("qint16", np.int16, 1)])
C:\Users\Home\anaconda3\lib\site-packages\tensorflow\python\framework\dtypes.py:519: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_quint16 = np.dtype([("quint16", np.uint16, 1)])
C:\Users\Home\anaconda3\lib\site-packages\tensorflow\python\framework\dtypes.py:520: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint32 = np.dtype([("qint32", np.int32, 1)])
C:\Users\Home\anaconda3\lib\site-packages\tensorflow\python\framework\dtypes.py:525: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  np_resource = np.dtype([("resource", np.ubyte, 1)])
C:\Users\Home\anaconda3\lib\site-packages\tensorboard\compat\tensorflow_stub\dtypes.py:541: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint8 = np.dtype([("qint8", np.int8, 1)])
C:\Users\Home\anaconda3\lib\site-packages\tensorboard\compat\tensorflow_stub\dtypes.py:542: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_quint8 = np.dtype([("quint8", np.uint8, 1)])
C:\Users\Home\anaconda3\lib\site-packages\tensorboard\compat\tensorflow_stub\dtypes.py:543: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint16 = np.dtype([("qint16", np.int16, 1)])
C:\Users\Home\anaconda3\lib\site-packages\tensorboard\compat\tensorflow_stub\dtypes.py:544: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_quint16 = np.dtype([("quint16", np.uint16, 1)])
C:\Users\Home\anaconda3\lib\site-packages\tensorboard\compat\tensorflow_stub\dtypes.py:545: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint32 = np.dtype([("qint32", np.int32, 1)])
C:\Users\Home\anaconda3\lib\site-packages\tensorboard\compat\tensorflow_stub\dtypes.py:550: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  np_resource = np.dtype([("resource", np.ubyte, 1)])

As you can see, the TensorFlow backend was used to install the Keras library.

Let's import the rest of the packages from the Keras library that we will need to build our regressoin model.

In [12]:
from keras.models import Sequential
from keras.layers import Dense

## Build a Neural Network

Let's define a function that defines our regression model for us so that we can conveniently call it to create our model.

In [13]:
# define regression model as my_model with 3 hidden layers
def my_model():
    # create model
    model = Sequential()
    model.add(Dense(10, activation='relu', input_shape=(n_cols,)))
    model.add(Dense(10, activation='relu'))
    model.add(Dense(10, activation='relu'))
    model.add(Dense(1))
    
    # compile model
    model.compile(optimizer='adam', loss='mean_squared_error')
    return model

Above my_model function has:
- One hidden layer of 10 nodes, and a ReLU activation function
- Use the adam optimizer and the mean squared error as the loss function.

Randomly split the data into a training and test sets by holding 30% of the data for testing. You can use the train_test_split helper function from Scikit-learn.

In [14]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(predictors_norm, target, test_size=0.3, random_state=0)

## Train and Test the Network

Let's call the function now to create our model.

In [15]:
# build the model
model = my_model()

We will train the model for 50 epochs.

In [16]:
# fit the model
model.fit(X_train,y_train, epochs=50, verbose=1)

WARNING:tensorflow:From C:\Users\Home\anaconda3\lib\site-packages\keras\backend\tensorflow_backend.py:422: The name tf.global_variables is deprecated. Please use tf.compat.v1.global_variables instead.

Epoch 1/50
721/721 [==============================] - 0s 226us/step - loss: 1578.7259
Epoch 2/50
721/721 [==============================] - 0s 31us/step - loss: 1557.9434
Epoch 3/50
721/721 [==============================] - 0s 43us/step - loss: 1529.4770
Epoch 4/50
721/721 [==============================] - 0s 22us/step - loss: 1488.9383
Epoch 5/50
721/721 [==============================] - 0s 43us/step - loss: 1427.4036
Epoch 6/50
721/721 [==============================] - 0s 31us/step - loss: 1333.0777
Epoch 7/50
721/721 [==============================] - 0s 43us/step - loss: 1196.8422
Epoch 8/50
721/721 [==============================] - 0s 22us/step - loss: 1028.3038
Epoch 9/50
721/721 [==============================] - 0s 43us/step - loss: 823.5147
Epoch 10/50
721/721 [==============================] - 0s 31us/step - loss: 621.2641
Epoch 11/50
721/721 [==============================] - 0s 43us/step - loss: 461.4823
Epoch 12/50
721/721 [==============================] - 0s 22us/step - loss: 363.5499
Epoch 13/50
721/721 [==============================] - 0s 43us/step - loss: 315.0987
Epoch 14/50
721/721 [==============================] - 0s 31us/step - loss: 291.7155
Epoch 15/50
721/721 [==============================] - 0s 22us/step - loss: 274.1753
Epoch 16/50
721/721 [==============================] - 0s 45us/step - loss: 259.8253
Epoch 17/50
721/721 [==============================] - 0s 51us/step - loss: 248.4814
Epoch 18/50
721/721 [==============================] - 0s 37us/step - loss: 237.8607
Epoch 19/50
721/721 [==============================] - 0s 49us/step - loss: 228.4318
Epoch 20/50
721/721 [==============================] - 0s 19us/step - loss: 219.8827
Epoch 21/50
721/721 [==============================] - 0s 23us/step - loss: 212.3384
Epoch 22/50
721/721 [==============================] - 0s 43us/step - loss: 205.2996
Epoch 23/50
721/721 [==============================] - 0s 22us/step - loss: 197.5895
Epoch 24/50
721/721 [==============================] - 0s 43us/step - loss: 190.9705
Epoch 25/50
721/721 [==============================] - 0s 40us/step - loss: 184.8103
Epoch 26/50
721/721 [==============================] - 0s 43us/step - loss: 178.7715
Epoch 27/50
721/721 [==============================] - 0s 43us/step - loss: 173.4496
Epoch 28/50
721/721 [==============================] - 0s 30us/step - loss: 167.9470
Epoch 29/50
721/721 [==============================] - 0s 23us/step - loss: 162.9512
Epoch 30/50
721/721 [==============================] - 0s 47us/step - loss: 157.8008
Epoch 31/50
721/721 [==============================] - 0s 55us/step - loss: 152.9533
Epoch 32/50
721/721 [==============================] - 0s 43us/step - loss: 148.8239
Epoch 33/50
721/721 [==============================] - 0s 39us/step - loss: 145.9943
Epoch 34/50
721/721 [==============================] - 0s 56us/step - loss: 140.7258
Epoch 35/50
721/721 [==============================] - 0s 36us/step - loss: 136.7219
Epoch 36/50
721/721 [==============================] - 0s 45us/step - loss: 132.5508
Epoch 37/50
721/721 [==============================] - 0s 32us/step - loss: 129.4926
Epoch 38/50
721/721 [==============================] - 0s 24us/step - loss: 125.9550
Epoch 39/50
721/721 [==============================] - 0s 43us/step - loss: 122.2846
Epoch 40/50
721/721 [==============================] - 0s 36us/step - loss: 119.1099
Epoch 41/50
721/721 [==============================] - 0s 22us/step - loss: 115.6842
Epoch 42/50
721/721 [==============================] - 0s 38us/step - loss: 112.5886
Epoch 43/50
721/721 [==============================] - 0s 43us/step - loss: 109.4903
Epoch 44/50
721/721 [==============================] - 0s 38us/step - loss: 107.2866
Epoch 45/50
721/721 [==============================] - 0s 36us/step - loss: 105.4567
Epoch 46/50
721/721 [==============================] - 0s 43us/step - loss: 103.3827
Epoch 47/50
721/721 [==============================] - 0s 43us/step - loss: 101.6342
Epoch 48/50
721/721 [==============================] - 0s 52us/step - loss: 99.6718
Epoch 49/50
721/721 [==============================] - 0s 59us/step - loss: 97.6933
Epoch 50/50
721/721 [==============================] - 0s 43us/step - loss: 96.1676

Evaluate the model on test data

In [17]:
eval_model=model.evaluate(X_test,y_test)
y_pred=model.predict(X_test)

eval_model

309/309 [==============================] - 0s 167us/step

88.07787140287628

Compute the mean squared error between the predicted concrete strength and the actual concrete strength. You can use the mean_squared_error function from Scikit-learn.

In [18]:
from sklearn.metrics import mean_squared_error

MSE = mean_squared_error(y_test, y_pred) #mean squared error
mean = np.mean(MSE) #mean of MSE
std = np.std(MSE) #standard deviation
print(mean, std)

88.07787236618555 0.0

- Repeat steps 1 - 3, 50 times, i.e., create a list of 50 mean squared errors.
- Report the mean and the standard deviation of the mean squared errors.

In [19]:
n_mse=50 #number of mean squared errors
MSEs=[] #empty array to store 50 mean squared errors

# Intializing loop to create a list of 50 MSE
for k in range(0,n_mse):
    X_train, X_test, y_train, y_test = train_test_split(predictors_norm, target, test_size=0.3, random_state=k) #training the data
    model.fit(X_train,y_train,epochs=50,verbose=0)
    MSE_eval=model.evaluate(X_test,y_test,verbose=0)
    
    print('The value of mean squared value',str(k+1),'is', str(MSE_eval))
    
    y_pred=model.predict(X_test)
    MSE=mean_squared_error(y_test, y_pred) #mean squared error
    MSEs.append(MSE)
    
MSEs=np.array(MSEs)
mean=np.mean(MSEs)
std=np.std(MSEs)

print('The mean of mean squared errors is: ',mean)
print('The standard deviation of mean squared errors is: ',std)

The value of mean squared value 1 is 68.84136483893039
The value of mean squared value 2 is 64.01363027134374
The value of mean squared value 3 is 41.72510089071823
The value of mean squared value 4 is 44.76550574441558
The value of mean squared value 5 is 38.9028996834863
The value of mean squared value 6 is 40.23647692288396
The value of mean squared value 7 is 40.66778744694484
The value of mean squared value 8 is 31.659512689584282
The value of mean squared value 9 is 33.16834518284474
The value of mean squared value 10 is 32.43524294609391
The value of mean squared value 11 is 32.03533859623288
The value of mean squared value 12 is 28.378179148948693
The value of mean squared value 13 is 33.81763003944965
The value of mean squared value 14 is 35.73689562603108
The value of mean squared value 15 is 29.053172238050543
The value of mean squared value 16 is 26.25639909910924
The value of mean squared value 17 is 27.23354950074625
The value of mean squared value 18 is 28.303007527076698
The value of mean squared value 19 is 23.69669409940158
The value of mean squared value 20 is 28.35810482926353
The value of mean squared value 21 is 25.57188615521181
The value of mean squared value 22 is 27.66978919390336
The value of mean squared value 23 is 25.436373750754544
The value of mean squared value 24 is 25.54950373381087
The value of mean squared value 25 is 27.653339842762374
The value of mean squared value 26 is 26.95586051447106
The value of mean squared value 27 is 25.909667215686785
The value of mean squared value 28 is 24.364390055338543
The value of mean squared value 29 is 24.449173319301174
The value of mean squared value 30 is 24.847039799859996
The value of mean squared value 31 is 25.710366875608376
The value of mean squared value 32 is 21.577038052012618
The value of mean squared value 33 is 23.731591098131098
The value of mean squared value 34 is 24.875304774559044
The value of mean squared value 35 is 29.020609883428776
The value of mean squared value 36 is 31.506779050364077
The value of mean squared value 37 is 22.965112371352113
The value of mean squared value 38 is 25.848878558013816
The value of mean squared value 39 is 24.08985366944742
The value of mean squared value 40 is 21.904989464769084
The value of mean squared value 41 is 26.135007654578942
The value of mean squared value 42 is 20.899910571891514
The value of mean squared value 43 is 22.91411066826879
The value of mean squared value 44 is 27.85393442690951
The value of mean squared value 45 is 26.024511392834118
The value of mean squared value 46 is 21.972662311541608
The value of mean squared value 47 is 21.43343698939845
The value of mean squared value 48 is 23.144801673765706
The value of mean squared value 49 is 25.882779167693794
The value of mean squared value 50 is 24.195730295767675
The mean of mean squared errors is:  29.587584485443532
The standard deviation of mean squared errors is:  9.345284288512275

Part D: Baseline model is built with normalized data using Keras library with 3 hidden layers, each of 10 nodes and 'relu' activation function.

The mean of mean squared errors using 3 hidden layers is further decreased (almost half) than single hidden layer. This means less error (error reduced almost half) between predicted data and validation test data using more hidden layers.