## B. Normalize the data (5 marks)

Repeat Part A but use a normalized version of the data. Recall that one way to normalize the data is by subtracting the mean from the individual predictors and dividing by the standard deviation.

How does the mean of the mean squared errors compare to that from Step A?

## Download and Clean Dataset

Let's start by importing the <em>pandas</em> and the Numpy libraries.

In [1]:
import pandas as pd
import numpy as np

We will be playing around with the same dataset that we used in the videos.

<strong>The dataset is about the compressive strength of different samples of concrete based on the volumes of the different ingredients that were used to make them. Ingredients include:</strong>

<strong>1. Cement</strong>

<strong>2. Blast Furnace Slag</strong>

<strong>3. Fly Ash</strong>

<strong>4. Water</strong>

<strong>5. Superplasticizer</strong>

<strong>6. Coarse Aggregate</strong>

<strong>7. Fine Aggregate</strong>

Let's download the data and read it into a <em>pandas</em> dataframe.

In [2]:
concrete_data = pd.read_csv('https://cocl.us/concrete_data')
concrete_data.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age,Strength
0,540.0,0.0,0.0,162.0,2.5,1040.0,676.0,28,79.99
1,540.0,0.0,0.0,162.0,2.5,1055.0,676.0,28,61.89
2,332.5,142.5,0.0,228.0,0.0,932.0,594.0,270,40.27
3,332.5,142.5,0.0,228.0,0.0,932.0,594.0,365,41.05
4,198.6,132.4,0.0,192.0,0.0,978.4,825.5,360,44.30

So the first concrete sample has 540 cubic meter of cement, 0 cubic meter of blast furnace slag, 0 cubic meter of fly ash, 162 cubic meter of water, 2.5 cubic meter of superplaticizer, 1040 cubic meter of coarse aggregate, 676 cubic meter of fine aggregate. Such a concrete mix which is 28 days old, has a compressive strength of 79.99 MPa.

#### Let's check how many data points we have.

In [3]:
concrete_data.shape

(1030, 9)

So, there are approximately 1000 samples to train our model on. Because of the few samples, we have to be careful not to overfit the training data.

Let's check the dataset for any missing values.

In [4]:
concrete_data.describe()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age,Strength
count,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000
mean,281.167864,73.895825,54.188350,181.567282,6.204660,972.918932,773.580485,45.662136,35.817961
std,104.506364,86.279342,63.997004,21.354219,5.973841,77.753954,80.175980,63.169912,16.705742
min,102.000000,0.000000,0.000000,121.800000,0.000000,801.000000,594.000000,1.000000,2.330000
25%,192.375000,0.000000,0.000000,164.900000,0.000000,932.000000,730.950000,7.000000,23.710000
50%,272.900000,22.000000,0.000000,185.000000,6.400000,968.000000,779.500000,28.000000,34.445000
75%,350.000000,142.950000,118.300000,192.000000,10.200000,1029.400000,824.000000,56.000000,46.135000
max,540.000000,359.400000,200.100000,247.000000,32.200000,1145.000000,992.600000,365.000000,82.600000

In [5]:
concrete_data.isnull().sum()

Cement                0
Blast Furnace Slag    0
Fly Ash               0
Water                 0
Superplasticizer      0
Coarse Aggregate      0
Fine Aggregate        0
Age                   0
Strength              0
dtype: int64

The data looks very clean and is ready to be used to build our model.

#### Split data into predictors and target

The target variable in this problem is the concrete sample strength. Therefore, our predictors will be all the other columns.

In [6]:
concrete_data_columns = concrete_data.columns

predictors = concrete_data[concrete_data_columns[concrete_data_columns != 'Strength']] # all columns except Strength
target = concrete_data['Strength'] # Strength column

<a id="item2"></a>

Let's do a quick sanity check of the predictors and the target dataframes.

In [7]:
predictors.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age
0,540.0,0.0,0.0,162.0,2.5,1040.0,676.0,28
1,540.0,0.0,0.0,162.0,2.5,1055.0,676.0,28
2,332.5,142.5,0.0,228.0,0.0,932.0,594.0,270
3,332.5,142.5,0.0,228.0,0.0,932.0,594.0,365
4,198.6,132.4,0.0,192.0,0.0,978.4,825.5,360

In [8]:
target.head()

0    79.99
1    61.89
2    40.27
3    41.05
4    44.30
Name: Strength, dtype: float64

Finally, the last step is to normalize the data by substracting the mean and dividing by the standard deviation.

In [9]:
predictors_norm = (predictors - predictors.mean()) / predictors.std()
predictors_norm.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age
0,2.476712,-0.856472,-0.846733,-0.916319,-0.620147,0.862735,-1.217079,-0.279597
1,2.476712,-0.856472,-0.846733,-0.916319,-0.620147,1.055651,-1.217079,-0.279597
2,0.491187,0.795140,-0.846733,2.174405,-1.038638,-0.526262,-2.239829,3.551340
3,0.491187,0.795140,-0.846733,2.174405,-1.038638,-0.526262,-2.239829,5.055221
4,-0.790075,0.678079,-0.846733,0.488555,-1.038638,0.070492,0.647569,4.976069

Let's save the number of predictors to *n_cols* since we will need this number when building our network.

In [10]:
n_cols = predictors_norm.shape[1] # number of predictors
n_cols

8

## Import Keras

#### Let's go ahead and import the Keras library

In [11]:
import keras

Using TensorFlow backend.
C:\Users\Home\anaconda3\lib\site-packages\tensorflow\python\framework\dtypes.py:516: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint8 = np.dtype([("qint8", np.int8, 1)])
C:\Users\Home\anaconda3\lib\site-packages\tensorflow\python\framework\dtypes.py:517: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_quint8 = np.dtype([("quint8", np.uint8, 1)])
C:\Users\Home\anaconda3\lib\site-packages\tensorflow\python\framework\dtypes.py:518: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint16 = np.dtype([("qint16", np.int16, 1)])
C:\Users\Home\anaconda3\lib\site-packages\tensorflow\python\framework\dtypes.py:519: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_quint16 = np.dtype([("quint16", np.uint16, 1)])
C:\Users\Home\anaconda3\lib\site-packages\tensorflow\python\framework\dtypes.py:520: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint32 = np.dtype([("qint32", np.int32, 1)])
C:\Users\Home\anaconda3\lib\site-packages\tensorflow\python\framework\dtypes.py:525: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  np_resource = np.dtype([("resource", np.ubyte, 1)])
C:\Users\Home\anaconda3\lib\site-packages\tensorboard\compat\tensorflow_stub\dtypes.py:541: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint8 = np.dtype([("qint8", np.int8, 1)])
C:\Users\Home\anaconda3\lib\site-packages\tensorboard\compat\tensorflow_stub\dtypes.py:542: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_quint8 = np.dtype([("quint8", np.uint8, 1)])
C:\Users\Home\anaconda3\lib\site-packages\tensorboard\compat\tensorflow_stub\dtypes.py:543: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint16 = np.dtype([("qint16", np.int16, 1)])
C:\Users\Home\anaconda3\lib\site-packages\tensorboard\compat\tensorflow_stub\dtypes.py:544: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_quint16 = np.dtype([("quint16", np.uint16, 1)])
C:\Users\Home\anaconda3\lib\site-packages\tensorboard\compat\tensorflow_stub\dtypes.py:545: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint32 = np.dtype([("qint32", np.int32, 1)])
C:\Users\Home\anaconda3\lib\site-packages\tensorboard\compat\tensorflow_stub\dtypes.py:550: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  np_resource = np.dtype([("resource", np.ubyte, 1)])

As you can see, the TensorFlow backend was used to install the Keras library.

Let's import the rest of the packages from the Keras library that we will need to build our regressoin model.

In [12]:
from keras.models import Sequential
from keras.layers import Dense

## Build a Neural Network

Let's define a function that defines our regression model for us so that we can conveniently call it to create our model.

In [13]:
# define regression model as my_model
def my_model():
    # create model
    model = Sequential()
    model.add(Dense(10, activation='relu', input_shape=(n_cols,)))
    model.add(Dense(1))
    
    # compile model
    model.compile(optimizer='adam', loss='mean_squared_error')
    return model

Above my_model function has:
- One hidden layer of 10 nodes, and a ReLU activation function
- Use the adam optimizer and the mean squared error as the loss function.

Randomly split the data into a training and test sets by holding 30% of the data for testing. You can use the train_test_split helper function from Scikit-learn.

In [14]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(predictors_norm, target, test_size=0.3, random_state=0)

## Train and Test the Network

Let's call the function now to create our model.

In [15]:
# build the model
model = my_model()

We will train the model for 50 epochs.

In [16]:
# fit the model
model.fit(X_train,y_train, epochs=50, verbose=1)

WARNING:tensorflow:From C:\Users\Home\anaconda3\lib\site-packages\keras\backend\tensorflow_backend.py:422: The name tf.global_variables is deprecated. Please use tf.compat.v1.global_variables instead.

Epoch 1/50
721/721 [==============================] - 0s 161us/step - loss: 1529.7831
Epoch 2/50
721/721 [==============================] - 0s 43us/step - loss: 1512.7011
Epoch 3/50
721/721 [==============================] - 0s 43us/step - loss: 1494.8670
Epoch 4/50
721/721 [==============================] - 0s 31us/step - loss: 1476.1829
Epoch 5/50
721/721 [==============================] - 0s 22us/step - loss: 1456.3877
Epoch 6/50
721/721 [==============================] - 0s 22us/step - loss: 1435.6208
Epoch 7/50
721/721 [==============================] - 0s 43us/step - loss: 1413.5539
Epoch 8/50
721/721 [==============================] - 0s 31us/step - loss: 1390.4115
Epoch 9/50
721/721 [==============================] - 0s 22us/step - loss: 1366.2044
Epoch 10/50
721/721 [==============================] - 0s 43us/step - loss: 1340.8698
Epoch 11/50
721/721 [==============================] - 0s 22us/step - loss: 1314.0466
Epoch 12/50
721/721 [==============================] - 0s 43us/step - loss: 1286.3278
Epoch 13/50
721/721 [==============================] - 0s 9us/step - loss: 1257.7216
Epoch 14/50
721/721 [==============================] - 0s 22us/step - loss: 1227.8902
Epoch 15/50
721/721 [==============================] - 0s 22us/step - loss: 1197.5698
Epoch 16/50
721/721 [==============================] - 0s 43us/step - loss: 1165.8580
Epoch 17/50
721/721 [==============================] - 0s 31us/step - loss: 1134.1659
Epoch 18/50
721/721 [==============================] - 0s 22us/step - loss: 1101.9880
Epoch 19/50
721/721 [==============================] - 0s 43us/step - loss: 1069.1155
Epoch 20/50
721/721 [==============================] - 0s 22us/step - loss: 1036.4460
Epoch 21/50
721/721 [==============================] - 0s 22us/step - loss: 1003.0258
Epoch 22/50
721/721 [==============================] - 0s 31us/step - loss: 969.8311
Epoch 23/50
721/721 [==============================] - 0s 22us/step - loss: 936.8216
Epoch 24/50
721/721 [==============================] - 0s 22us/step - loss: 903.9970
Epoch 25/50
721/721 [==============================] - 0s 43us/step - loss: 871.2316
Epoch 26/50
721/721 [==============================] - 0s 31us/step - loss: 839.0186
Epoch 27/50
721/721 [==============================] - 0s 43us/step - loss: 807.3119
Epoch 28/50
721/721 [==============================] - 0s 43us/step - loss: 776.0911
Epoch 29/50
721/721 [==============================] - 0s 52us/step - loss: 745.8457
Epoch 30/50
721/721 [==============================] - 0s 22us/step - loss: 716.3667
Epoch 31/50
721/721 [==============================] - 0s 43us/step - loss: 687.5862
Epoch 32/50
721/721 [==============================] - 0s 22us/step - loss: 659.2251
Epoch 33/50
721/721 [==============================] - 0s 31us/step - loss: 632.3974
Epoch 34/50
721/721 [==============================] - 0s 43us/step - loss: 606.3361
Epoch 35/50
721/721 [==============================] - 0s 43us/step - loss: 581.7262
Epoch 36/50
721/721 [==============================] - 0s 31us/step - loss: 557.7246
Epoch 37/50
721/721 [==============================] - 0s 43us/step - loss: 534.8637
Epoch 38/50
721/721 [==============================] - 0s 22us/step - loss: 512.8116
Epoch 39/50
721/721 [==============================] - 0s 22us/step - loss: 491.7597
Epoch 40/50
721/721 [==============================] - 0s 52us/step - loss: 471.6818
Epoch 41/50
721/721 [==============================] - 0s 22us/step - loss: 452.2164
Epoch 42/50
721/721 [==============================] - 0s 43us/step - loss: 433.5340
Epoch 43/50
721/721 [==============================] - 0s 22us/step - loss: 415.5784
Epoch 44/50
721/721 [==============================] - 0s 52us/step - loss: 398.5216
Epoch 45/50
721/721 [==============================] - 0s 22us/step - loss: 381.6937
Epoch 46/50
721/721 [==============================] - 0s 43us/step - loss: 365.8342
Epoch 47/50
721/721 [==============================] - 0s 22us/step - loss: 350.6561
Epoch 48/50
721/721 [==============================] - 0s 52us/step - loss: 336.6260
Epoch 49/50
721/721 [==============================] - 0s 22us/step - loss: 322.8154
Epoch 50/50
721/721 [==============================] - 0s 43us/step - loss: 309.8930

Evaluate the model on test data

In [17]:
eval_model=model.evaluate(X_test,y_test)
y_pred=model.predict(X_test)

eval_model

309/309 [==============================] - 0s 122us/step

299.74614095842185

Compute the mean squared error between the predicted concrete strength and the actual concrete strength. You can use the mean_squared_error function from Scikit-learn.

In [18]:
from sklearn.metrics import mean_squared_error

MSE = mean_squared_error(y_test, y_pred) #mean squared error
mean = np.mean(MSE) #mean of MSE
std = np.std(MSE) #standard deviation
print(mean, std)

299.74614335873133 0.0

- Repeat steps 1 - 3, 50 times, i.e., create a list of 50 mean squared errors.
- Report the mean and the standard deviation of the mean squared errors.

In [19]:
n_mse=50 #number of mean squared errors
MSEs=[] #empty array to store 50 mean squared errors

# Intializing loop to create a list of 50 MSE
for k in range(0,n_mse):
    X_train, X_test, y_train, y_test = train_test_split(predictors_norm, target, test_size=0.3, random_state=k) #training the data
    model.fit(X_train,y_train,epochs=50,verbose=0)
    MSE_eval=model.evaluate(X_test,y_test,verbose=0)
    
    print('The value of mean squared value',str(k+1),'is', str(MSE_eval))
    
    y_pred=model.predict(X_test)
    MSE=mean_squared_error(y_test, y_pred) #mean squared error
    MSEs.append(MSE)
    
MSEs=np.array(MSEs)
mean=np.mean(MSEs)
std=np.std(MSEs)

print('The mean of mean squared errors is: ',mean)
print('The standard deviation of mean squared errors is: ',std)

The value of mean squared value 1 is 134.34833185881087
The value of mean squared value 2 is 125.60833888377958
The value of mean squared value 3 is 92.65420095202992
The value of mean squared value 4 is 84.24070743449683
The value of mean squared value 5 is 77.97257003043462
The value of mean squared value 6 is 80.89371088021781
The value of mean squared value 7 is 84.53321791466772
The value of mean squared value 8 is 70.07572732079763
The value of mean squared value 9 is 73.52150390526238
The value of mean squared value 10 is 69.04469304254526
The value of mean squared value 11 is 68.45194878933114
The value of mean squared value 12 is 61.8909762731262
The value of mean squared value 13 is 62.98389155810705
The value of mean squared value 14 is 51.760812839643854
The value of mean squared value 15 is 41.45794467864299
The value of mean squared value 16 is 36.86726555932301
The value of mean squared value 17 is 40.93163562515407
The value of mean squared value 18 is 39.36119765988445
The value of mean squared value 19 is 37.86275216753815
The value of mean squared value 20 is 38.06075896722985
The value of mean squared value 21 is 36.36383609710002
The value of mean squared value 22 is 36.39993925002015
The value of mean squared value 23 is 31.837885551082277
The value of mean squared value 24 is 37.256976414652705
The value of mean squared value 25 is 38.17814425743128
The value of mean squared value 26 is 39.62142255468276
The value of mean squared value 27 is 34.60697150616198
The value of mean squared value 28 is 34.84715062977813
The value of mean squared value 29 is 42.5798919208613
The value of mean squared value 30 is 39.83148514337138
The value of mean squared value 31 is 35.45570495753612
The value of mean squared value 32 is 34.74103891810939
The value of mean squared value 33 is 36.400144743687896
The value of mean squared value 34 is 37.23734614301268
The value of mean squared value 35 is 36.44995964074984
The value of mean squared value 36 is 42.54058935418484
The value of mean squared value 37 is 33.67069389133392
The value of mean squared value 38 is 39.2172113807456
The value of mean squared value 39 is 37.87674247717008
The value of mean squared value 40 is 32.81650575310667
The value of mean squared value 41 is 39.27225353031097
The value of mean squared value 42 is 31.949224249830525
The value of mean squared value 43 is 38.03641208167215
The value of mean squared value 44 is 41.04300144035068
The value of mean squared value 45 is 40.740359395838865
The value of mean squared value 46 is 39.94262103972697
The value of mean squared value 47 is 35.67011818993824
The value of mean squared value 48 is 39.3608239800413
The value of mean squared value 49 is 38.07463491001561
The value of mean squared value 50 is 40.21521586199023
The mean of mean squared errors is:  49.89512974393213
The standard deviation of mean squared errors is:  23.00222687307022

Part B: Baseline model is built with normalized data using Keras library.

The mean of mean squared errors using normalized data is decreased as compared to un-normalized data. This means less error between predicted data and validation test data using normalized data.